[core]
    excludesfile = /home/sean/.gitignore
    preloadindex = true
[color]
    ui = auto
[log]
    date = local
[merge]
    conflictstyle = diff3
[push]
    default = simple
[receive]
    denyCurrentBranch = warn
[user]
    name = Sean Kelly
    email = code@katron.org
[alias]
    ffpull = pull --ff-only
[diff]
    indentHeuristic = true
